@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #000;
  font-family: 'Poppins', sans-serif; 
  position: relative;
}

.floating-input>input::placeholder {
  color: transparent;
}

.floating-input>input:focus,
.floating-input>input:not(:placeholder-shown) { 
@apply pt-8
}

.floating-input>input:focus~label, 
.floating-input>input:not(:placeholder-shown)~label {
@apply opacity-75 scale-75 -translate-y-3 translate-x-1; 
}